/** Header */
.avatar {
    width: 50px; 
    height: 50px; 
    margin-top: 8px;
}

/** Sidebar */
.main-sidebar {
    .brand-link {
        margin: 15px;
        text-decoration-line: none;
    }

    .user-panel {
        margin-bottom: 15px;
    }

    .sidebar-footer {
        position: fixed;
        bottom: 0; 
    }
}

.active {
    background-color: #50cdd6 !important;
}

.nav-link {
    color: #a1a1a1 !important;
}

/** List users */ 
.photo {
    width: 110px;
    height: auto;
}