/** Header */
.avatar {
  width: 50px;
  height: 50px;
  margin-top: 8px;
}

/** Sidebar */
.main-sidebar .brand-link {
  margin: 15px;
  text-decoration-line: none;
}
.main-sidebar .user-panel {
  margin-bottom: 15px;
}
.main-sidebar .sidebar-footer {
  position: fixed;
  bottom: 0;
}

.active, .btn-primary {
  background-color: #50cdd6 !important;
}

/** List users */
.photo {
  width: 110px;
  height: auto;
}
